html, body{
font-family: 'Oswald';
	font-size: 120%;
	background-color: #ccccb3;

}
 p{
 	font-size: 70%;
	margin : 1px;
}
div {
	margin: 20px;
	background-color: #ccccb3;
}

 h{
	font-size: 140%;
	color: blue;
}


input[type=submit] {
	font-family: 'Oswald';
}
input[type=text] {
	margin-left: 20spx;

}